alloy:
  configMap:
    content: |
      logging {
        level  = "info"
        format = "logfmt"
      }

      discovery.kubernetes "k3s_pods" {
        role = "pod"
      }

      discovery.relabel "k3s_pods" {
        targets = discovery.kubernetes.k3s_pods.targets

        rule {
          source_labels = ["__meta_kubernetes_namespace"]
          action        = "replace"
          target_label  = "namespace"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_name"]
          action        = "replace"
          target_label  = "pod"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_container_name"]
          action        = "replace"
          target_label  = "container"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_label_app"]
          action        = "replace"
          target_label  = "app"
        }
        
        rule {
          source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_name"]
          action        = "replace"
          target_label  = "app"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_node_name"]
          action        = "replace"
          target_label  = "node"
        }
      }

      loki.source.kubernetes "pod_logs" {
        targets    = discovery.relabel.k3s_pods.output
        forward_to = [loki.process.filter_logs.receiver]
      }

      loki.process "filter_logs" {
        forward_to = [loki.write.local_loki.receiver]

        stage.drop {
          source = "namespace"
          expression = "kube-system"
        }
      }

      loki.write "local_loki" {
        endpoint {
          url = "http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push"
          batch_wait = "10s"
          batch_size = "1MiB"
          
          min_backoff_period = "500ms"
          max_backoff_period = "5m"
          max_backoff_retries = 10
        }
      }

controller:
  type: daemonset
  resources:
    limits:
      cpu: "100m"
      memory: "200Mi"

# may delete this when deploy on Linux - this use to deploy on WSL to have permission to read log from host
# global:
#   podSecurityContext:
#     runAsUser: 0    
#     runAsGroup: 0
